@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('/fonts/Poppins-Bold.ttf');
}

html, body {
    height: 100%;
    font-family: Poppins;
}

h1{
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

button:hover{
    transform: scale(105%);
}

body {
    margin: 0;  
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#mainMenu {
    width: 1000px;
    padding: 3rem;

    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;

    background-color: gainsboro;
    box-shadow: -10px -10px 0px #ccc;
    border: solid 5px #d6d6d6;
    border-radius: 15px;
}

.text {
    padding-bottom: 1rem;
}

.text h1 {
    font-size: 3rem;
    margin: 0;
}

.text li {
    font-size: 1.2rem;
}

    #buttons {
        width: 100%;
        gap: 0px;
        display: flex;
    }

    #mainMenu button {
        flex: 1;
        height: 100px;

        font-size: 1.2rem;
        font-weight: 700;
        font-family: Poppins;

        transition: transform 0.05s ease-in-out;
    }


    button#easy{
        border-radius: 10px 0 0 10px;
        background-color: #2bdd66;
        border: solid 5px #30d166;
    }

    button#medium{
        background-color: #ffbe3b;
        border: solid 5px #e1ad44;
    }

    button#hard{
        background-color: #f15c33;
        border: solid 5px #cf512e;
    }

    button#goat{
        border-radius: 0 10px 10px 0;
        color: white;
        background-color: #000000;
        border: solid 5px #1d1d1d;
    }

#game {
    
    display: none;
    /* display: flex;  */

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 400px;

    padding: 2rem;
    margin-top: -4rem;
}

    #countup {
        font-size: 16rem
    }

    #dzik {
        padding: 5rem;
        
        border-radius: 10px;
        background-color: gainsboro;

        font-size: 8rem;
    }

    #dzik:hover{
        filter: brightness(105%);
    }

    #dzik:active {
        transform: scale(100%);
    }

#endGame {
    position: absolute;

    width: 50vw;
    padding: 1.5rem;

    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    background-color: gainsboro;
    border: solid 5px #d6d6d6;
    border-radius: 15px;
}

    #scores{
        display: flex;
        gap: 5rem;
        width: 100%;
        justify-content: center;
    }
    
    #scores * {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #scores * * {
        font-size: 3.5rem;
    }

    #endGame h1 {
        font-size: 5rem;
    }

    #endButtons {
        width: 100%;
        gap: 0px;
        display: flex;
    }

    #endButtons * {
        flex: 1;
        height: 80px;

        font-size: 1.2rem;
        font-weight: 700;
        font-family: Poppins;

        transition: transform 0.05s ease-in-out;
    }

    #tryAgain {
        background-color: #ffbe3b;
        border: solid 5px #e1ad44;

        border-radius: 10px 0 0 10px;
    }

    #returnToMenu {
        background-color: #f15c33;
        border: solid 5px #cf512e;

        border-radius: 0 10px 10px 0;
    }